@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.HomeScreen {
    background-color:#212121;
    color:#FFEA00;
    padding: 40px 5vw;
}

.row {
    margin-top: 0px;
    display:flex;
    font-family: 'Roboto';
    justify-content: flex-start;
}
#Name {
    font-size: 6vh;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}
#TagLine {
    font-size: 30px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

.AboutMe > p {
    /* text-align: justify; */
    margin-right: 10vw;
    max-width: 800px;
    font-size: 2vw;
    font-weight: 300;
    color:#FFEFEF;
}

.ContactMe {
    display:flex;
    justify-content: flex-end;
    margin-right: 10vw;
}
.ContactMe > a {
    margin-right:28px;
    color:#FFEA00;
}
.ContactMe > button {
    border:0;
    border-radius:12px;
    width:100px;
    font-size: 18px;
}
.myProfilePic {
    height:440px;
}
/* Media Queries */
@media screen and (max-width:1000px) {
    .row {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:500px) {
    .myProfilePic {
        height:350px;
    }
}
@media screen and (max-width:350px) {
    .myProfilePic {
        height:200px;
    }
}
@media screen and (max-width:750px) {
    .AboutMe > p {
        font-size:18px;
    }
}
@media screen and (min-width:400px) {
    .MyPic {
        margin-left: 5vw;
        margin-top: 150px;
    }
}
@media (max-width:373px) {
    .ContactMe {
        margin-right: 0;
        display: block;
    }
    .ContactMe > button {
        margin-top:10px;
}
}