@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

.ProjectWrapper {
    background-color:#212121;
    color:#FFEA00;
    padding: 10px 5vw;
    padding-bottom: 100px;
}
.ProjectWrapper > h3 {
    font-size: 50px;
    font-family: 'Roboto'
}
.myGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
}