.skill-card-row {
    display: flex;
    overflow-x: hidden;
    width: 100%;
}

.skills {
    background-color:#212121;
    color:#FFEA00;
    padding-bottom: 10vh;
}
.head {
    padding: 0 5vw;
    font-size: 6vh;
    margin-bottom: 80px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}