.card-wrapper {
    display: flex;
    width:100%;
}

.exp-card {
    font-family: 'Source Code Pro', monospace;
    border:1px solid #FFEA00;
    padding:20px;
    box-shadow: 17px 8px;
    flex-direction: column;
    width:100%;
    margin-bottom: 50px;
}
.exp-card > h4 {
    font-weight: 800;
}
.exp-card > h5 {
    padding-bottom: 5px;
    margin:0;
    border-bottom:4px  #FFEA00;
    border-bottom-style:  outset;
    display: inline-block;
}


.exp-card-description > li {
    margin-bottom: 10px;
}