.card-wrapper {
    display: flex;
    width:100%;
}

.exp-card {
    font-family: 'Source Code Pro', monospace;
    border:1px solid #FFEA00;
    padding:20px;
    display: inline-flexbox;
    flex-direction: column;
    max-width:500px;
    margin-bottom: 100px;
}
.exp-card > h4 {
    font-weight: 800;
}
.exp-card > h5 {
    padding-bottom: 5px;
    margin:0;
    border-bottom:4px  #FFEA00;
    border-bottom-style:  outset;
    display: inline-block;
}
.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}
